.bodybg{
    -fx-background-image: url("/LoginView/pinkPalmsMoving.gif");
    -fx-alignment: center ;
    -fx-background-size: 100% 100%;
}

.bodybg_accept{
    -fx-background-image: url("/LoginView/button_accept.jpg");
    -fx-alignment: center ;
    -fx-background-size: 100% 100%;
}

.bodybg_decline{
    -fx-background-image: url("/LoginView/button_decline.jpg");
    -fx-alignment: center ;
    -fx-background-size: 100% 100%;
}

.bodybg2{
    -fx-background-image: url("/LoginView/dash_v32.jpg");
    -fx-alignment: center ;
    -fx-background-size: 100% 100%;
}

.bodybg_left_bumper{
    -fx-background-image: url("/LoginView/left_bumper1.jpg");
    -fx-alignment: center ;
    -fx-background-size: 100% 100%;
}


.bodybg_center_dash{
    -fx-background-image: url("/LoginView/retro_slowed.gif");
    -fx-alignment: center ;
    -fx-background-size: 100% 100%;
}

.bodybg_table{
    -fx-background-image: url("/LoginView/purple_window.jpg");
    -fx-alignment: center ;
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header.name-column {
    -fx-base: purple;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-size: 18;
    -fx-size: 11 ;
    -fx-font-family: "Britannic Bold";
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-size: 18;
    -fx-text-background-color: #0cb91a;
    -fx-size: 11 ;
    -fx-font-family: "Britannic Bold";
}

.split_menu_image {
    -fx-background-image: url("/LoginView/chat_bar_3.jpg");
    -fx-background-size: 100% 100%;
    -fx-text-fill: -fx-selection-bar-text;
}

.message_input_image {
    -fx-background-image: url("/LoginView/chat_bar_3.jpg");
    -fx-background-size: 100% 100%;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-size: 18;
    -fx-text-background-color: #0cb91a;
    -fx-font-family: "Britannic Bold";
}

.bodybg_table_columns{
    -fx-background-color: transparent;
}


.logobg{
    -fx-background-image: url("/LoginView/logo.png");
    -fx-alignment: center ;
    -fx-background-size: 100% 100%;
}

.buttonbg{
    -fx-background-image: url("/LoginView/lonelyMountainSun.jpg");
    -fx-alignment: center ;
    /**-fx-background-size: 100% 100%;*/
}

.my-special-column-style{
    -fx-alignment: CENTER-RIGHT;
}

.bar-chart {
    -fx-background-color: transparent;
}

.bodybg_date_picker{
    -fx-background-color: blueviolet;
    -fx-control-inner-background: black ;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-family: "Britannic Bold";

    -fx-text-background-color: #0cb91a;
}







